[submodule "YNOV-DRIVE-AUTH"]
	path = YNOV-DRIVE-AUTH
	branche = master
	url = https://github.com/ThomasPIET/YNOV-DRIVE-AUTH.git
[submodule "YNOV-DRIVE-SMTP"]
	path = YNOV-DRIVE-SMTP
	branche = master
	url = https://github.com/ThomasPIET/YNOV-DRIVE-SMTP.git
[submodule "YNOV-DRIVE-DATA"]
	path = YNOV-DRIVE-DATA
	branche = master
	url = https://github.com/ThomasPIET/YNOV-DRIVE-DATA.git
[submodule "YNOV-DRIVE-FILES"]
	path = YNOV-DRIVE-FILES
	branche = master
	url = https://github.com/ThomasPIET/YNOV-DRIVE-FILES.git
